h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 5px;
}

#scritto_da {
    color: #898989;
    font-size: 20px;
    margin-left: 5px;
}

#data {
    color: #898989;
    font-size: 15px;
    margin-left: 5px;
}

#evid_celeste{
    color: #33b0e7;
}

#tim_photo{
    margin-top: 25px;
    margin-left: 5px;
}

#tim_uno{
    width: 1000px;
    height: 700px;
}

#tim_due{
    width: 900px;
    height: 700px;
}

#underphoto{
    color: #4b4a4a;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.paragrafo {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
}

.sfondogiallo{
    background-color: #ffff00;
}

#lista_ul {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

table {
    text-align: left;
    font-size: 18px;
    border-collapse: collapse;
    margin-left: 5px;
}


thead{
    background-color: #20a9e5;
    text-align: left;
    color: #ffffff;
}

.primaterzariga {
    background-color: #b1e5f2;
}

h4 {
    margin-left: 5px;
    color: #808080;
}

td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    text-align: left;
}

.txtfooter{

    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 10px;

}

